# ROS Console Debug Configuration
# 设置详细日志输出级别
log4j.logger.ros=DEBUG
log4j.logger.ros.cam_tracker_node=DEBUG

# 日志输出格式
log4j.appender.stdout=org.apache.log4j.ConsoleAppender
log4j.appender.stdout.layout=org.apache.log4j.PatternLayout
log4j.appender.stdout.layout.ConversionPattern=[%p %d{HH:mm:ss}] [%c]: %m%n

# 设置根logger
log4j.rootLogger=INFO, stdout

# 特定包的日志级别
log4j.logger.ros.cam_tracker=DEBUG
log4j.logger.ros.usb_cam=INFO